.destination {
  background: url(../starter-code/assets/destination/background-destination-mobile.jpg)
    no-repeat center/cover;
  min-height: calc(100vh - 1px);
}

.grid-container--destination {
  --flow-space: 2rem;
  padding-inline: 0;
  padding-bottom: clamp(5rem, 10vh, 10rem);
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--destination > img {
  grid-area: image;
  max-width: 100%;
  align-self: end;
  padding-inline: 0;
  margin-inline: 0;
}

.grid-container--destination > .tab-list {
  grid-area: tabs;
  --gap: 0.8rem;
}

.grid-container--destination h1 {
  padding-inline: 5px;
}

.grid-container--destination > .destination-content {
  grid-area: content;
}

.destination-desc {
  padding-inline: 10px;
}

.destination-meta {
  flex-direction: column;
  border-top: 1px solid hsla(var(--clr-white), 0.15);
  padding-top: 2.5rem;
  margin-top: 2.5rem;
}

.destination-meta p {
  font-size: 1.75rem;
}

li {
  list-style-type: none;
}

button {
  background-color: transparent;
  outline: none;
  border: 0;
}

.image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  padding-bottom: 0;
  margin-top: 10px;
}

.destination-tab {
  display: flex;
  justify-content: center;
}

@media (min-width: 35rem) {
  .destination {
    background-image: url(../starter-code/assets/destination/background-destination-tablet.jpg);
    background-position: center center;
  }
  .destination-meta {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 45rem) {
  .destination {
    background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
  }
  .grid-container--destination {
    justify-items: center;
    align-content: center;
    grid-template-areas:
      " title title "
      " image tabs "
      " image content ";
  }

  .destination-meta {
    justify-content: space-around;
    --gap: min(3vw, 1rem);
  }
}
