.home {
  background: url(../starter-code/assets/home/background-home-mobile.jpg) no-repeat
    center/cover;
  min-height: calc(100vh - 1px);
  gap: 2rem;
}

@media (min-width: 35rem) {
  .home {
    background-image: url(../starter-code/assets/home/background-home-tablet.jpg);
    background-position: center center;
    /* min-height: calc(100vh - 1px); */
  }
}

@media (min-width: 45rem) {
  .home {
    background-image: url(../starter-code/assets/home/background-home-desktop.jpg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 200px;
    text-align: start;
  }
  .grid-container--home {
    padding-bottom: max(6rem, 20vh);
    align-items: end;
}
.grid-container--home > *:first-child {
    grid-column: 2;
}
    
.grid-container--home > *:last-child {
    grid-column: 3;
}
}
